* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --warna-sekunder: #27debf;
  --warna-primer: #08917e;
  --warna-tersier: #263238;
  --warna-page: #afe4db;
}

#nav-bar {
  background-color: var(--warna-sekunder);
}

.nav-items {
  color: var(--warna-primer) !important;
}

.navbar-brand {
  font-size: 32px;
}

.tombol {
  background-color: var(--warna-primer);
  border-radius: 30px;
  color: white;
}

.tombol:hover {
  color: var(--warna-sekunder);
}

/* jumbotron */
.jumbotron {
  background-image: url(/bg.jpg);
  background-size: cover;
  height: 770px;
}

.jumbotron p {
  color: var(--warna-primer);
  margin-bottom: 30px;
}

.jumbotron h1 {
  color: var(--warna-sekunder);
}

/* feature section */
#video-section {
  background-color: var(--warna-page);
}

.card-title {
  color: var(--warna-primer);
}

.card-text {
  color: var(--warna-sekunder);
}

#form {
  color: var(--warna-primer);
  max-width: 600px;
  background-color: var(--warna-sekunder);
  margin: 0 auto;
  padding: 20px 40px;
  border-radius: 10px;
}

input {
  margin-top: 10px;
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: 0;
  padding: 10px;
}

#submit {
  width: 100%;
  height: 35px;
  background-color: var(--warna-primer);
  border: 0;
  border-radius: 5px;
  color: white;
}

footer {
  background-color: var(--warna-sekunder);
}

/* desktop version */
@media (min-width: 992px) {
  .nav-link {
    text-transform: uppercase;
    margin-right: 40px;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid #27debf;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
}
